<h1>Editing site update</h1>

<%= render "form", site_update: @site_update %>

<br>

<div>
  <%= link_to "Show this site update", @site_update %> |
  <%= link_to "Back to site updates", site_updates_path %>
</div>
