<h1>Editing completed website</h1>

<%= render "form", completed_website: @completed_website %>

<br>

<div>
  <%= link_to "Show this completed website", @completed_website %> |
  <%= link_to "Back to completed websites", completed_websites_path %>
</div>
