<h1>Editing skill list</h1>

<%= render "form", skill_list: @skill_list %>

<br>

<div>
  <%= link_to "Show this skill list", @skill_list %> |
  <%= link_to "Back to skill lists", skill_lists_path %>
</div>
