<div id="<%= dom_id cancellation_form %>">
  <p>
    <strong>Reason for cancellation:</strong>
    <%= cancellation_form.reason_for_cancellation %>
  </p>

  <p>
    <strong>User:</strong>
    <%= cancellation_form.user_id %>
  </p>

</div>
