<h1>Editing cancellation form</h1>

<%= render "form", cancellation_form: @cancellation_form %>

<br>

<div>
  <%= link_to "Show this cancellation form", @cancellation_form %> |
  <%= link_to "Back to cancellation forms", cancellation_forms_path %>
</div>
