<h1>Editing user information</h1>

<%= render "form", user_information: @user_information %>

<br>

<div>
  <%= link_to "Show this user information", @user_information %> |
  <%= link_to "Back to user information", user_informations_path %>
</div>
